body,html{
  padding:0;
  margin:0;
  font-family:Raleway, cursive;
  width:100%;
  height:100%;
}

.fs #hero{
  background-image:url(../images/bg.gif);
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;
  text-align:center;
}

.fs .desc{
  position:relative;
  width:100%;
  height:100%;
  background-color:#222;
}

.fs .desc > .top,
.fs .desc > .bottom{
  width:100%;
  height:100px;
  line-height:100px;
  text-align:center;
  background-color:#111;
}

.fs .desc > .top{
  font-size:24pt;
  letter-spacing: 12px;
  color:#eee;
}

.fs .desc > .bottom{
  position:absolute;
  bottom:0;
}

.fs .desc > .centered{

  display:inline-block;

  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  z-index:20;
  color:#eee;
  letter-spacing: 4px;
  text-align:center;
}

.fs .desc > .centered.text{
  text-align:left;
}

.fs .desc > .centered.form > div{

  float:left;
  display:inline;
  text-align:left;
}

.fs .desc > .centered.form > div:first-child{

  margin-right:40px;
}

.fs .button{
  letter-spacing: 4px;
  background-color:#F70A41;
  border:none;
  cursor:pointer;
  outline:none;
  color:#eee;
}

.fs .cta {
  font-size:24px;
  width:90px;
  height:90px;
  border-radius:45px;
  transform:translateY(-50%);
}

.fs .cta:hover {
  background-color:#CF0232;
}

.fs a{

  margin-left:16px;

  color:#ccc;
  text-decoration: none;
}

.fs a:hover{
  color:blue;
}

.fs input, .fs textarea{

  background-color:#333;
  padding:8px 12px;
  outline:none;
  border:none;
  border-radius: 2px;
  font-weight: bold;
  color:#eee;
  margin-top:10px;
  resize:none;
}

.fs input:focus, .fs textarea:focus{
  box-shadow: 0 0 1pt 1pt #F50A41;
  border-radius:2px;
  border:none;
}

.fs input:placeholder-shown, .fs textarea:placeholder-shown{
    color:#CF0232;
}

.fs .age{
  width:80px;
}

.fs .likes{
  height:119px;
  width:100%;
}

.fs .submit{
  margin-top:20px;
  padding:10px 20px;
  border-radius:22px;
  font-size:18px;
  clear:both;
}
