body,html{
  padding:0;
  margin:0;
  font-family:Raleway, cursive;
  width:100%;
  height:100%;
}

.fs #hero{
  background-image:url(../images/bg.gif);
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;
  text-align:center;
}

.fs .desc{
  position:relative;
  width:100%;
  height:100%;
  color:#F70A41;
  background-color:#222;
}

.fs .desc > .centered{

  display:inline-block;

  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  text-align:center;
  font-size:24pt;
  letter-spacing: 12px;
  z-index:20;
}

.fs .desc > .top,
.fs .desc > .bottom{
  width:100%;
  height:100px;
  line-height:100px;
  text-align:center;
  background-color:#111;
}

.fs .desc > .top{
  font-size:24pt;
  font-family:Raleway, cursive;
  letter-spacing: 12px;
  color:#eee;
}

.fs .desc > .bottom{
  position:absolute;
  bottom:0;
}

.fs .cta {
  font-family:Raleway, cursive;
  letter-spacing: 4px;
  width:90px;
  height:90px;
  background-color:#F70A41;
  border:none;
  border-radius:45px;
  font-size:24px;
  color:#eee;
  cursor:pointer;
  outline:none;
  transform:translateY(-50%);
}

.fs .cta:hover {
  background-color:#CF0232;
}

.fs .footer{

  height:32px;

  background-color:#333;

  color:#fff;
  text-align:center;
  line-height:32px;
}

.fs a{

  margin-left:16px;

  color:#ccc;
  text-decoration: none;
}

.fs a:hover{
  color:blue;
}

.fs input, .fs textarea{

  background-color:#333;
  padding:8px 12px;
  outline:none;
  border:1px solid #666;
  border-radius: 2px;
  font-weight: bold;
  color:#eee;
  margin-top:10px;
}

.fs input:focus, .fs textarea:focus{
  box-shadow: 0 0 1pt 1pt #F50A41;
  border-radius:2px;
  border:none;
}

.fs input:placeholder-shown, .fs textarea:placeholder-shown{
    color:#CF0232;
}

.fs .submit{
  margin-top:20px;
}
